.column-caption {
    height: 44px;
}

.column-caption-text {
    float: left;
}

.column-caption-options {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.header-filter-popover-form {
    padding: 5px;
}