.entry-grids-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.entry-grids-tab-panel {
    background-color: white;
}